.swapButton:disabled {
  background-color: #272c34;
  color: #777;
  cursor: not-allowed;
}

.toggleButton {
  height: 36px;
  font-size: 14px;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #151515;
  color: #ccc;
  cursor: pointer;
  margin-top: -17px;
  margin-bottom: -17px;
  z-index: 99;
}
